*{
	padding:0;
	margin:0;
}
#page{
	margin:5px 5px 5px 15px;

}
h3{
	font-size:18px;
    color:#3366ff;
    margin-top:8px;
}
li{
	list-style: none;
}
li,p{
	margin-top:5px;
	margin-left:28px;
	font-size:14px;
	color: #666;
    font-family: 微软雅黑;
}
.box{
	margin-top:8px;
	width:250px;
	border:1px solid yellow;

}

#div1{   
    background-color:#6699FF;   
    width:200px;   
    height:200px;     
    position: absolute;        //父元素需要相对定位   
    top: 50%;   
    left: 50%;   
    margin-top:-100px ;   //二分之一的height，width  
    margin-left: -100px;   
}   
.first{
	margin-top:110px;
}
